<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuetBarcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ConString" value="Server=192.168.211.1;Database=juki_giamsatthoigiankho;Port=3306;Uid=root;Pwd=100100;charset=utf8"/>
  </appSettings>
  <userSettings>
    <QuetBarcode.Properties.Settings>
      <setting name="ComPort" serializeAs="String">
        <value>COM11</value>
      </setting>
      <setting name="IdAdd" serializeAs="String">
        <value>1</value>
      </setting>
    </QuetBarcode.Properties.Settings>
  </userSettings>
</configuration>
