<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConString" value="Server=192.168.211.1;Database=juki_giamsatthoigiankho;Port=3306;Uid=root;Pwd=100100;charset=utf8"/>
  </appSettings>
</configuration>