<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--THESE LINES ARE FROM ATPROCORP, SHOULD NOT BE DELETED-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_InterfaceWebPort">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--SHOULD BE MODIFIED ACCORDING TO YOUR iWEBPORT APP IP ADDRESS-->
      <endpoint address="net.tcp://192.168.211.1:8010/ATWebPort" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InterfaceWebPort" contract="ATWebPortServiceReference.InterfaceWebPort" name="NetTcpBinding_InterfaceWebPort" />
    </client>
  </system.serviceModel>
  <!--END-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2"></compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument enabled="true">
      <files>
        <add value="Status.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 8CA7A513-E2E2-4C04-AD6D-38B4491621A1-->